# Ignore Ruby/Rails build artifacts
log/*
tmp/*
!.keep
vendor/bundle

# Ignore local secrets
.env
.env.*
credentials.yml.enc
master.key

# Ignore Node/Yarn/NPM stuff
node_modules
yarn-error.log
npm-debug.log
public/assets

# Ignore uploads (ActiveStorage)
storage/*
!storage/.keep

# Ignore Git + editor backup files
.git
.gitignore
*.swp
*.bak
*.tmp
.DS_Store

# Ignore testing-related dirs (optional)
test/
spec/
coverage/
