# TODO: Replace "/home/retrospring/retrospring" with directory of your Retrospring installation

[Unit]
Description=retrospring-web
After=network.target

[Service]
Type=simple
User=nightspringer
WorkingDirectory=/home/nightspringer/nightspring
Environment="RAILS_ENV=production"
Environment="PORT=3000"
ExecStart=/home/nightspring/.rbenv/shims/bundle exec puma
TimeoutSec=15
Restart=always
WorkingDirectory=/home/nightspringer/nightspring

[Install]
WantedBy=multi-user.target